version: "3.2"
services:
  grafana:
    image: grafana/grafana:7.3.4
    user: "1000:1000"
    ports:
      - 3000:3000
    volumes:
      - ./grafana/grafana-volume:/var/lib/grafana
      - ./grafana/plugins:/var/lib/grafana/plugins
  tsdb:
    image: prom/prometheus
    user: "1000:1000"
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/prometheus-volume:/prometheus
